.Topbar{
    width: 100%;
    background-color: #080f18e5;
    padding: 12px;
    box-shadow: 2px 0px 6px black;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
  }
  .Topbar > img{
    width: 100px;
  }